@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes glowPulse {
	0%,
	100% {
		opacity: 0.8;
	}
	50% {
		opacity: 1;
	}
}

#root {
	width: 100vw;
	height: 100vh;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden; /* Prevent scrolling */
}

body {
	background: url('/images/bg1.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Poppins', sans-serif;
}

.gradient-text {
	background: linear-gradient(200deg, #ff0000, #000000, #30c7e9, #5847c4);
	background-size: 400% 400%;
	animation: gradientShift 18s ease infinite;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.outline-text {
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
}

.hamburger {
	width: 35px;
	height: 30px;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.hamburger div {
	width: 100%;
	height: 4px;
	background: linear-gradient(100deg, #000000, #ffffff, #eb0089, #d4af95);
	background-size: 400% 400%;
	animation: gradientShift 18s ease infinite;
	border-radius: 10px;
	transition: all 0.6s ease-in-out;
}

.hamburger.active div:nth-child(1) {
	transform: translateY(10px) rotate(-135deg) scale(0.75);

}

.hamburger.active div:nth-child(2) {
	transform: translateY(7px) translateX(-5px) rotate(180deg) scale(0.9);
}

.hamburger.active div:nth-child(3) {
	transform: translateY(4px) translateX(0px) rotate(135deg) scale(0.75);

}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 280px;
	height: 100%;
	background: linear-gradient(
		300deg,
		rgba(179, 179, 179, 0.8) 0%,
		rgb(129, 129, 129) 100%
	);
	transform: translateX(100%);
	transition: transform 0.5s ease;
	z-index: 99;
	pointer-events: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu.active {
	transform: translateX(0);
}

.menu-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 1.5rem;
	color: #ffffff;
	z-index: 102;
}

.menu-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	color: #ffffff;
	width: 100%;
}

.menu-item {
	cursor: pointer;
	font-size: 1.6rem;
	font-weight: 300;
	transition: color 0.3s ease;
	text-align: center;
}

.menu-item:hover {
	color: #e0e0e0;
	text-decoration: none;
}

/* react-select-styles.css */
.select__control {
	border: 1px solid #4b5563 !important;
	background: rgba(0, 0, 0, 0.6) !important;
	border-radius: 0.375rem !important;
}

.select__menu {
	background: rgba(0, 0, 0, 0.8) !important;
	border: 1px solid #4b5563 !important;
	border-radius: 0.375rem !important;
}

.select__option {
	color: #ffffffd8 !important;
	font-weight: 500 !important;
}

.select__option--is-focused {
	background: rgba(255, 255, 255, 0.863) !important;
	color: #000000 !important;
}

.select__option--is-selected {
	background: #ffffff40 !important;
	color: #ebebe5bd !important;
}

.select__single-value {
	color: #ebebe5bd !important;
}

.select__placeholder {
	color: #ebebe5bd !important;
}
@media (max-width: 768px) {
	.menu {
		width: 35%;
		height: 100%;
	}

	.menu-content {
		padding: 5px;
	}

	.menu-item {
		font-size: 1.3rem;
	}
}
